<h1> Portfolio Items </h1>

<%= link_to "create new item", new_portfolio_path %>
<% @portfolio_items.each do |portfolio| %>
  <p> <%= link_to portfolio.title, portfolio_show_path(portfolio) %> </p>
  <p> <%= portfolio.subtitle %> </p>
  <p> <%= portfolio.body %> </p>
  <%= image_tag(portfolio.thumb_image) unless portfolio.thumb_image.nil? %>

  <%= link_to "edit", edit_portfolio_path(portfolio) %>
  <%= link_to "destroy", portfolio_path(portfolio), method: :delete, data: { confirm: "are you sure" } %>

<% end %>
